*{
    box-sizing: border-box;
    margin: 0;
}

header{
    background-color: rgb(6, 24, 104);
    padding: 30px;
}
nav {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  transition: transform 0.4s ease;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding-left: 20px;
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s ease, padding-left 0.3s ease;
}

nav a:hover {
  transform: scale(1.5);
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  color: orange;
  padding-left: 50px;
}

nav:hover {
  transform: scale(1.1);
}

main{
    padding: 100px;
}
section {
    background: white;
    padding: 60px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.conteudo{
    text-align: center;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type='text'], input[type='number'] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: orangered;
}

.resultado {
    margin-top: 20px;
    background: #e2e3e5;
    padding: 10px;
    border-radius: 5px;
}